@import "tailwindcss";
@source "hugo_stats.json";

@font-face {
  font-family: "src-code-pro";
  src: url("/fonts/src-code-pro.woff2") format("woff2");
}

:root {
  --col-bg: #ffffff;
  --col-text: #111111;
  --col-hyper-start: #f6eedf;
  --col-hyper-end: #f3e1bf;
}

@layer base {
  body {
    font-family: "src-code-pro", serif;
  }

  a {
    @apply bg-linear-to-r from-(--col-hyper-start) to-(--col-hyper-end) bg-no-repeat hover:brightness-98;
    background-size: 300% 50%;
    background-position: 0% 100%;
    transition: filter 0.2s ease;
  }

  .article-content {
    h1,
    h2 {
      @apply font-bold mt-8 mb-2;
    }

    h3,
    h4,
    h5,
    h6 {
      @apply font-bold mt-8 mb-0;
    }

    h1 {
      @apply text-3xl;
    }

    h2 {
      @apply text-2xl;
    }

    h3 {
      @apply text-xl;
    }

    h4 {
      @apply text-lg;
    }

    h5,
    h6 {
      @apply text-base;
    }

    p {
      /* align left on mobile, justify on regular */
      @apply text-left md:text-justify;
    }

    img {
      @apply mx-auto block py-4;
    }

    p,
    ul,
    ol,
    blockquote,
    pre {
      @apply my-6;
    }

    ul,
    ol {
      @apply ml-10;
    }

    ul li {
      @apply list-disc;
    }

    ol li {
      @apply list-decimal;
    }

    li {
      @apply mb-0.5;
    }

    li ul,
    li ol {
      @apply my-0;
    }

    code,
    samp,
    pre {
      font-family: "src-code-pro", serif;
    }

    pre {
      @apply overflow-scroll text-base bg-(--col-text) text-(--col-bg) rounded-xs px-4 py-4;
    }

    code {
      @apply bg-(--col-text) text-(--col-bg) p-0;
    }

    p > code,
    li > code {
      @apply py-0.5 px-1 rounded-xs;
    }
  }
}
