<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="alternate"
    type="application/rss+xml"
    href="{{ .Site.BaseURL }}/index.xml"
    title="{{ .Site.Title }}" />

  {{ if .IsPage }}<meta name="description" content="{{ .Summary }}" />{{ end }}


  <!-- parse the tailwind helper css.html -->
  {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }}
  {{ end }}


  <title>
    {{ if .IsHome }}
      golfed/index
    {{ else if eq .Section "posts" }}
      golfed/{{ .Params.post_number }}
    {{ else }}
      golfed/{{ .Title | lower }}
    {{ end }}
  </title>

  <!-- theme persistence across pages -->
  {{ $themePersistence := resources.Get "js/theme-persistence.js" | resources.Minify | resources.Fingerprint "sha512" }}
  <script
    src="{{ $themePersistence.Permalink | relURL }}"
    integrity="{{ $themePersistence.Data.Integrity }}"></script>

  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ $.Site.Params.favicon | relURL }}" />

  <!-- dark theme syntax highlighting (default) -->
  {{ $syntaxDark := resources.Get "css/dark-syntax.css" | resources.Minify | resources.Fingerprint "sha512" }}
  <link
    rel="stylesheet"
    href="{{ $syntaxDark.Permalink | relURL }}"
    integrity="{{ $syntaxDark.Data.Integrity }}" />

  <!-- light theme syntax highlighting (applied when checkbox is checked) -->
  {{ $syntaxLight := resources.Get "css/light-syntax.css" | resources.Minify | resources.Fingerprint "sha512" }}
  <link
    rel="stylesheet"
    href="{{ $syntaxLight.Permalink | relURL }}"
    integrity="{{ $syntaxLight.Data.Integrity }}" />

  <!-- custom icons -->
  <link
    rel="icon"
    type="image/png"
    href="/assets/favicon-96x96.png"
    sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/assets/apple-touch-icon.png" />
  <link rel="manifest" href="/assets/manifest.json" />
</head>
