<header
  class="text-center flex items-center py-1 justify-center border border-[var(--foreground)] min-w-[100%] mx-4 flex-wrap rounded-tl-2xl rounded-br-2xl">
  <nav class="flex items-center flex-wrap justify-center p-0">
    <a href="/">home</a>
    <a href="/stats">stats</a>
    <a href="/contact">contact</a>
    <a href="/index.xml">rss</a>
    <label class="cursor-pointer self-center mt-1">
      <input type="checkbox" id="theme-toggle" class="sr-only" />
      <span>◑</span>
    </label>
  </nav>
</header>
