<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link
    rel="alternate"
    type="application/rss+xml"
    href="{{ .Site.BaseURL }}/index.xml"
    title="{{ .Site.Title }}" />

  {{ if .IsPage }}<meta name="description" content="{{ .Summary }}" />{{ end }}


  <!-- parse the tailwind helper css.html -->
  {{ with (templates.Defer (dict "key" "global")) }}
    {{ partial "css.html" . }}
  {{ end }}


  <title>
    {{ if .IsHome }}
      {{ .Site.Title }}/index
    {{ else if eq .Section "posts" }}
      {{ .Site.Title }}/{{ .Params.post_number }}
    {{ else if eq .Title "404 Page not found" }}
      {{ .Site.Title }}/451
    {{ else }}
      {{ .Site.Title }}/{{ .Title | lower }}
    {{ end }}
  </title>

  <link
    rel="shortcut icon"
    type="image/x-icon"
    href="{{ $.Site.Params.favicon | relURL }}" />

  <!-- syntax highlighting -->
  {{ $syntaxStyle := resources.Get "css/syntax.css" | resources.Minify | resources.Fingerprint "sha512" }}
  <link
    rel="stylesheet"
    href="{{ $syntaxStyle.Permalink | relURL }}"
    integrity="{{ $syntaxStyle.Data.Integrity }}" />

  <!-- custom icons -->
  <link
    rel="icon"
    type="image/png"
    href="/assets/favicon-96x96.png"
    sizes="96x96" />
  <link rel="icon" type="image/svg+xml" href="/assets/favicon.svg" />
  <link rel="shortcut icon" href="/assets/favicon.ico" />
  <link
    rel="apple-touch-icon"
    sizes="180x180"
    href="/assets/apple-touch-icon.png" />
  <link rel="manifest" href="/assets/manifest.json" />
</head>
