{{ define "main" }}
  <div class="p-6 lg:p-8 max-w-lg mx-auto text-center italic">
    <h1 class="text-5xl font-bold">451</h1>
    <p class="py-8">
      This content is not available in your country due to local privacy laws.
      Return <a href="/">home</a> or try connecting through any of the following
      subnets:
    </p>
    <ul class="list-disc list-inside inline-block text-left">
      <li>175.45.176.0/24</li>
      <li>175.45.177.0/24</li>
      <li>175.45.178.0/24</li>
      <li>175.45.179.0/24</li>
    </ul>
  </div>
{{ end }}
