{{ define "main" }}
  <div class="w-full max-w-full flex flex-col items-center justify-center">
    <div class="flex flex-col lg:flex-row items-center gap-8">
      <img
        id="contact-img"
        src="/images/contact/iridium.png"
        alt="iridium"
        class="max-w-xs h-60 flex-shrink-0" />

      <!-- content with progressive right offset -->
      <div>
        <p>
          <b>&lt;pgp&gt;</b>
          <a
            href="https://keyserver.ubuntu.com/pks/lookup?op=get&search=0x1530f5132a1228578d2b4168995efd5c1b532b3e"
            target="_blank"
            rel="noopener noreferrer"
            class="text-[var(--hyperlink)]"
          >
            <span class="lg:hidden">1530F...32B3E</span>
            <span class="hidden lg:inline">1530F5132A1228578D2B4168995EFD5C1B532B3E</span>
          </a>
        </p>
        <p class="lg:ml-6"><b>&lt;email&gt;</b> hello (at) golfed (dot) xyz</p>
        <p class="lg:ml-12"><b>&lt;signal&gt;</b> mix.99</p>
      </div>
    </div>
  </div>
{{ end }}
