{{ define "main" }}
  <div class="p-6 lg:p-8 max-w-4xl mx-auto text-center italic">
    {{ $posts := where .Site.RegularPages "Section" "posts" }}
    {{ $totalWords := 0 }}
    {{ range $posts }}{{ $totalWords = add $totalWords .WordCount }}{{ end }}
    {{ $avgReadTime := div (div $totalWords (len $posts)) 200 | math.Round }}
    <ul class="inline-block text-left mx-auto">
      <li>posts: {{ len $posts }}</li>
      <li>words: {{ $totalWords }}</li>
      <li>avg. readtime: {{ $avgReadTime }} min</li>
    </ul>
  </div>
{{ end }}
